[Desktop Entry]
Name=Nula Lang
GenericName=Nula Programing Language
Comment=Open terminal and use nula lang
Exec=/usr/lib/lcr/Nula-LCR/run-nula.sh
Icon=/usr/lib/lcr/Nula-LCR/nula-lang.png
Terminal=false
Type=Application
Categories=System;
Keywords=lcr;nula-lang;nula;nula-programing-language;
